                                                   
[user]
        name = robertotics4
        email = robertooliveiragp@gmail.com
[alias]
        s = !git status
        c = !git add . && git commit -m
        amend = !git add . && git commit --amend --no-edit
        l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s %C(cyan)[%cn] %C(green)%cr'
